body{
	font-family: Arial;
	margin:0;
	padding:20px;
	background-color: #f1f1f1;
}

*{
	box-sizing: border-box;
}

.row:after{
	content: '';
	display: table;
	clear: both;
}


header img{
	background-color: darkgrey;
	padding:0px;
	font-size:60px;
	text-align: center;
	color:#000000;
	margin:auto;
	width: 100%;
	height: 450px;
	object-position: center;
	object-fit: contain;
}

h2{
   color:#000000;
   margin:1.5 0px;	
}

.left-column{
float: left;
width: 75%;	
}

.right-column{
 width: 25%;
 float: right;
 padding-left:20px;
}
.card{
      padding: 20px;
      background-color: #ffffff;
      margin-top:20px;
}

.card img{
	width: 100%;
	image-resolution:500dpi;
      }

.right-column .card img{
	margin-bottom: 10px;
}

/* breadcrumb styling */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #303032;
    border-radius: .25rem;
}

ol {
 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.breadcrumb-item {
   
    display: flex;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item.breadcrumb-item {
    padding-left: .5rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}


/* footer */

footer{
	background-color: #dddddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}


/* footer Icons */
footer .social{
 
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  padding-bottom: 25px;

}
footer .social a{
   margin: 10px 10px;
   background: #999999;
  line-height: 10px;
  font-size: 10px;
  
}

.social a.tw img{
	width: 2em;
    height: 1.5em;
    margin: 5 2em;
    font-size: 20px;

}

.social a.li img{
	width: 2em;
    height: 1.9em;
    margin: 5 2em;
    font-size: 20px;


}

.social a.fb img{
	width: 2em;
    height: 1.7em;
    margin: 10 10em;
    border-radius: 25px;
    padding: 2px;
    font-size: 20px;

}

.btn {
    display: inline-block;
    font-weight: 400;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 1.0em;
}

.btn-primary{
	background-color: #007bff;
    border-color: #007bff;
}

#sendMessageButton{
	color: white;
}

.btn:hover{
	background-color: #0E1ECC;
    border-color: #0C3670;
}

/*responsive */

@media(max-width:800px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}

